background-image
lever-bar
lil-robot.top
  robot-body
  robot-desc Player 1
lil-robot.bot
  robot-body
  robot-desc Player 2

menu-bar
  play-button(tabIndex="0")
    c-play-pause-icon.icon
  step-button.wide
    c-tempo-icon.icon
    c-slider
    menu-gradient
    

