component-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../../res/img/sandBackground.jpg");
  background-size: cover;
  background-position-y: 60%;
  background-position-x: 37%;
  user-select: none;
}

component-body > * {
  pointer-events: all;
}

lever-bar {
  display: flex;
  margin: auto;
  flex-direction: row;
  border-radius: 7px;
  overflow: hidden;
  
}

lever-element {
  position: relative;
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  background: #090c12;
  margin: 0 1px;
}

lever-element:last-of-type {
  margin-right: 0;
}

lever-element:first-of-type {
  margin-left: 0;
}

